@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin neque ac orci dignissim, vitae consectetur velit porta. In suscipit commodo lacus, a aliquet purus pulvinar non. Pellentesque ultrices gravida sem et pulvinar. Vivamus laoreet pharetra risus, vitae efficitur leo tincidunt sit amet. Duis condimentum nisi velit, elementum venenatis mi tristique ut. Nam in urna urna. Fusce ullamcorper tempus massa, quis fringilla quam porta at. Proin ornare mollis scelerisque. Suspendisse quis pellentesque dolor. Phasellus vitae varius purus. Proin a ullamcorper mi.

        Cras accumsan metus nibh, sit amet consequat tellus dignissim in. Sed tristique pellentesque porttitor. Mauris quis leo velit. Praesent eget ornare leo. Aliquam tortor quam, dignissim et porta ac, pretium sed nibh. Praesent efficitur quam sed faucibus imperdiet. Fusce at lacus ligula. Cras sed massa sapien. Ut quis malesuada lectus, a ullamcorper ex. Sed aliquam magna at sapien ultricies, ac pretium enim pulvinar. Phasellus elementum vulputate tempor.

        Sed dui leo, mollis et neque et, dictum dictum lectus. Nunc ullamcorper suscipit turpis, eget imperdiet erat aliquam sit amet. Aliquam erat volutpat. Curabitur interdum, urna ac iaculis egestas, justo magna consequat odio, in tincidunt ipsum ipsum quis ex. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vestibulum consequat sollicitudin. Suspendisse potenti. Aliquam commodo, risus et maximus volutpat, leo urna vulputate libero, et blandit nisl eros vel leo. Sed id diam leo. Donec dignissim sapien quis consequat commodo.

        Aliquam sed malesuada nunc. Praesent lorem sapien, volutpat ut turpis nec, consequat volutpat justo. Proin sodales ac sem ut tincidunt. Phasellus vulputate congue elit, id ullamcorper mauris imperdiet at. Suspendisse iaculis vel felis et euismod. Aenean at condimentum eros. Morbi a semper velit. Ut sapien tellus, hendrerit eget cursus sollicitudin, tristique ut augue.

        Nunc mauris ex, condimentum nec metus ac, volutpat rhoncus mi. Maecenas varius, nisl ac dapibus malesuada, justo neque luctus eros, eu interdum neque libero ac sem. Maecenas ac vehicula nunc. Cras aliquam hendrerit consequat. Sed fermentum, elit ut ullamcorper feugiat, magna orci ullamcorper nulla, eu tempor urna enim sit amet arcu. Morbi porttitor arcu id lorem fermentum, laoreet eleifend lorem sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus iaculis ac dolor in varius.

        Curabitur molestie malesuada diam, non dignissim dui vestibulum at. Nullam in augue rutrum, tristique nisl vitae, blandit ligula. Aliquam porttitor libero eu pharetra ultrices. Duis egestas, orci sed molestie sollicitudin, nisi tortor dignissim velit, sit amet iaculis nulla eros eu ligula. Duis fringilla augue eget commodo tempus. In at turpis vel lectus egestas blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer pulvinar nunc at diam mollis, id iaculis tellus commodo. Maecenas ultricies velit mauris. Duis id nunc ex. Nam efficitur felis a odio feugiat imperdiet. Donec nec nisi lectus. Aliquam a tincidunt metus. Proin at dolor vel lacus bibendum iaculis sit amet eget lectus. In ut neque vestibulum, pulvinar dolor ut, viverra mauris.

        Morbi finibus congue dolor ac lacinia. Mauris blandit scelerisque ornare. Maecenas id est eget lorem ultricies malesuada sed non diam. Phasellus nunc erat, ullamcorper ac commodo nec, eleifend ac risus. Cras nec lectus sollicitudin, eleifend ante ac, luctus massa. Cras vel enim ornare, aliquam orci non, elementum nisi. Aliquam erat volutpat. Donec mollis, ex vel faucibus dictum, nunc urna viverra quam, vitae auctor eros neque vitae risus.

        Nam sit amet nulla ut enim porttitor malesuada. Donec lacinia maximus nisl. Sed ornare, neque ultricies pharetra euismod, nisl massa rutrum metus, quis tincidunt lectus nisi id turpis. Etiam congue odio ac nisi ultricies, sed egestas nulla fringilla. Aenean porttitor porta elementum. Quisque congue ligula eu porta posuere. Curabitur ac urna vitae ligula facilisis dictum. Quisque sit amet aliquet nunc.

        Fusce hendrerit at odio elementum ornare. Proin mattis eros nibh, ut ultrices mauris condimentum at. Praesent venenatis, velit in lacinia vehicula, neque risus molestie mauris, ac vestibulum velit libero nec sem. Donec feugiat mollis pharetra. Sed gravida odio nisl, eget scelerisque felis laoreet sed. Phasellus eleifend gravida eros quis malesuada. Proin sit amet arcu nec nulla dapibus volutpat.

        Pellentesque egestas facilisis arcu, in consectetur ex interdum ut. Etiam faucibus consequat quam eu maximus. Donec nisi libero, porttitor eu dignissim eu, ullamcorper a urna. Morbi eget porta arcu, ac sodales tortor. Ut libero tellus, pellentesque eget mauris ut, finibus placerat ipsum. In hac habitasse platea dictumst. Fusce sit amet sem luctus augue vulputate finibus. Morbi congue lectus non dolor mollis ultricies. Mauris fermentum eu erat in tristique. Phasellus odio nunc, facilisis sit amet sem iaculis, gravida tincidunt ante. Morbi ac pellentesque augue.
    </p>
</div>
